<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
	<mat-label>{{label}}</mat-label>
	<input matInput [type]="hide ? 'password' : 'text'" [formControlName]="controlName">
	<button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
			[attr.aria-pressed]="hide">
		<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
	</button>
	<mat-error *ngIf="!isConfirmPassword && fieldErrors?.errors?.['required']">{{label}} is required</mat-error>
	<mat-error *ngIf="!isConfirmPassword &&  fieldErrors?.errors?.['minlength']">Keep Typing...</mat-error>
	<mat-error *ngIf="!isConfirmPassword &&  fieldErrors?.errors?.['maxlength']">Why's your password that long?</mat-error>

	<mat-error *ngIf="isConfirmPassword &&  formGroup?.hasError('passwordsNotMatching')">Passwords must match</mat-error>
</mat-form-field>