<form class="p-4 p-md-5 border rounded-3">
	<div class="form-floating mb-3">
		<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
		<label for="floatingInput">Email address</label>
	</div>

	<div class="form-floating mb-3">
		<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
		<label for="floatingPassword">Password</label>
	</div>

	<div class="form-check form-switch  mb-3">
		<input checked class="csheckbox-primary form-check-input" value="remember-me" type="checkbox">
		<label class="text-bg-dark form-check-label">Remember me on this device for 14 days</label>
	</div>

	<button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
	<hr class="my-4">
</form>
