<!--<div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 80vh">-->
<div class="container-fluid center-in-screen">
	<div>
		<!--Start messages-->
		<ngb-alert *ngIf="normalLogout" type="primary" [dismissible]="false" class="text-center mb-4">
			{{NORMAL_LOGOUT_MESSAGE}}
		</ngb-alert>

		<ngb-alert *ngIf="expiredSession" type="primary" [dismissible]="false" class="text-center mb-4">
			{{EXPIRED_SESSION_MESSAGE}}
		</ngb-alert>

		<ngb-alert *ngIf="loginNeeded" type="primary" [dismissible]="false" class="text-center mb-4">
			{{LOGIN_NEEDED_MESSAGE}}
		</ngb-alert>

		<ngb-alert *ngIf="invalidSession" type="primary" [dismissible]="false" class="text-center mb-4">
			{{INVALID_SESSION_MESSAGE}}
		</ngb-alert>
		<!--End messages-->

		<h1 class="fs-1 text-center">Welcome Back</h1>
		<form [formGroup]="loginForm" (ngSubmit)="formSubmitted()" class="row g-3" method="post">
			<div class="col-md-12">
				<label for="email" class="fs-4 form-label">Email</label>
				<input [formControlName]="'email'" type="email" class="form-control " id="email">
				<ng-container *ngIf="email?.errors && (email?.dirty || email?.touched)">
					<span class="text-danger" *ngIf="email?.errors?.['required']">Email is required</span>
					<span class="text-danger" *ngIf="email?.errors?.['email']">Enter a valid email</span>
				</ng-container>
			</div>

			<div class="col-md-12">
				<label for="password" class="fs-4 form-label">Password</label>
				<input [formControlName]="'password'" type="password" class="form-control" id="password">
				<ng-container *ngIf="password?.errors && (password?.dirty || password?.touched)">
					<span class="text-danger" *ngIf="password?.errors?.['required']">Password is required</span>
				</ng-container>
			</div>

			<div class="col-md-12">
				<div class="form-check">
					<input [formControlName]="'stayLoggedIn'" class="form-check-input" type="checkbox" value="" id="stayLoggedIn"
						   style="background-color: #444444">
					<label class="form-check-label" for="stayLoggedIn">
						Stay logged in for 30 days
					</label>
				</div>
			</div>
			<div class="col-12 text-center">
				<button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-lg">Login</button>
			</div>
		</form>
	</div>
</div>