<app-new-deadline #newDeadlineComponentRef></app-new-deadline> <!--Is shown when the user clicks add new deadline-->

<div class="text-center hi-user">
	<button color="accent" mat-raised-button [matMenuTriggerFor]="menu">
		<mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
		Hi, {{nickname}}
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item (click)="openNewDeadlineModal(newDeadlineComponentRef)">Create new deadline</button>
		<button mat-menu-item (click)="logoutClicked()">Logout</button>
	</mat-menu>
</div>