<div class="container-fluid center-in-screen">
	<div>
		<h2 class="fs-1 text-center mb-4 ">Forgot your password? smh</h2>
		<form [formGroup]="resetPasswordForm" (ngSubmit)="formSubmitted()" class="row g-3" method="post">
			<div class="col-md-12">
				<label for="email" class="form-label">Email</label>
				<input [formControlName]="'email'" type="email" class="form-control " id="email">
				<ng-container *ngIf="email?.errors && (email?.dirty || email?.touched)">
					<span class="text-danger" *ngIf="email?.errors?.['required']">Email is required</span>
					<span class="text-danger" *ngIf="email?.errors?.['email']">Enter a valid email</span>
				</ng-container>
			</div>
			<div class="col-12 text-center">
				<button [disabled]="resetPasswordForm.invalid" type="submit" class="btn btn-primary btn-lg">Continue</button>
			</div>
		</form>
	</div>
</div>