<div class="center-in-screen">
	<div>
		<h1 class="mat-headline-4 header-text">Forgot your password?🤦</h1>
		<form [formGroup]="resetPasswordForm" (ngSubmit)="formSubmitted()" method="post">
			<div>
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput placeholder="john@example.com" [formControlName]="'email'" id="email" required>
					<mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
					<mat-error *ngIf="email?.errors?.['email']">Enter a valid email</mat-error>
				</mat-form-field>
			</div>

			<div class="text-center">
				<button type="submit" mat-raised-button color="primary">Continue</button>
			</div>
		</form>
	</div>
</div>