<app-new-deadline #newDeadlineComponentRef></app-new-deadline> <!--Is shown when the user clicks add new deadline-->

<nav class="navbar navbar-expand-md mb-3 bg-secondary ">
	<div class="container-fluid">
		<div class="header-center d-md-flex justify-content-md-start d-sm-flex justify-content-sm-center">
			<a class="navbar-brand fs-1 text-white" href="#">Deadline Reminder</a>
		</div>

		<div [ngbCollapse]="false" class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 d-md-flex justify-content-md-end text-center w-100">
				<li class="nav-item me-md-5 mt-3 mt-md-0">
					<button class="btn btn-primary btn-lg" (click)="openNewDeadlineModal(newDeadlineComponentRef)">Add New Deadline</button>
				</li>
				<li class="nav-item ms-md-0 mt-3 mt-md-0">
					<button class="btn btn-primary btn-lg">Your Account</button>
				</li>
			</ul>
		</div>
	</div>
</nav>