.header-text {
  text-align: center;
  margin: auto auto 1.5rem;
}

.login-container, .password-container, .remember-me-container, .login-btn-container, .forgot-password-container {
  margin-top: 1rem;
}

.link {
  margin: 0;
  transform: scale(1);
}