<div class="center-in-screen">
	<div>
		<h1 class="mat-headline-4 header-text">Sign in to your account</h1>
		<form [formGroup]="loginForm" (ngSubmit)="formSubmitted()" method="post">
			<div class="email-container">
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput placeholder="john@example.com" [formControlName]="'email'" required>
					<mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
					<mat-error *ngIf="email?.errors?.['email']">Enter a valid email</mat-error>
				</mat-form-field>
			</div>

			<div class="password-container">
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Password</mat-label>
					<input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'password'">
					<button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hide">
						<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
					<mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
				</mat-form-field>
			</div>

			<div class="remember-me-container">
				<mat-slide-toggle color="primary" [formControlName]="'stayLoggedIn'">Stay logged in for 30 days
				</mat-slide-toggle>
			</div>

			<div class="login-btn-container text-center">
				<button type="submit" mat-raised-button color="primary">Login</button>
			</div>

			<div class="forgot-password-container text-center">
				<a mat-button disableRipple color="accent" class="link" (click)="resetPasswordClicked()">Forgot password?🤔</a>
			</div>
		</form>
	</div>
</div>