<div class="center-in-screen">
	<div>
		<h1 class="mat-headline-4 header-text">Reset your password</h1>
		<form [formGroup]="confirmResetForm" (ngSubmit)="formSubmitted()" method="post">
			<!--Start Email-->
			<div class="email-container">
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput placeholder="john@example.com" [formControlName]="'email'" required>
					<mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
					<mat-error *ngIf="email?.errors?.['email']">Enter a valid email</mat-error>
					<mat-error *ngIf="email?.errors?.['incorrect']">Incorrect Email</mat-error>
				</mat-form-field>
			</div>
			<!--End Email-->

			<!--Start Password-->
			<div class="password-container">
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Password</mat-label>
					<input matInput [type]="hidePassword ? 'password' : 'text'" [formControlName]="'password'">
					<button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hidePassword">
						<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
					<mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
					<mat-error *ngIf="password?.errors?.['minlength']">Keep Typing...</mat-error>
					<mat-error *ngIf="password?.errors?.['maxlength']">Why's your password that long?</mat-error>
				</mat-form-field>
			</div>
			<!--End Password-->

			<!--Start Confirm Password-->
			<div class="confirm-password-container">
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Confirm Password</mat-label>
					<input matInput [type]="hidePassword ? 'password' : 'text'" [formControlName]="'confirmPassword'">
					<button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hidePassword">
						<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
					<mat-error *ngIf="confirmResetForm?.hasError('passwordsNotMatching')">Passwords must match</mat-error>
				</mat-form-field>
			</div>
			<!--End Confirm Password-->

			<div class="submit-btn-container text-center">
				<button type="submit" mat-raised-button color="primary">Reset Password</button>
			</div>
		</form>
	</div>
</div>