<form class="p-4 p-md-5 border rounded-3">
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="firstName" placeholder="Toph">
		<label for="firstName">First Name</label>
	</div>

	<div class="form-floating mb-3">
		<input type="email" class="form-control" id="email" placeholder="name@example.com">
		<label for="email">Email address</label>
	</div>

	<div class="form-floating mb-3">
		<input type="password" class="form-control" id="password" placeholder="Password">
		<label for="password">Password</label>
	</div>

	<div class="form-floating mb-3">
		<input type="password" class="form-control" id="confirmPassword" placeholder="Password, again ...">
		<label for="confirmPassword">Password, again </label>
	</div>

	<div class="form-check form-switch  mb-3">
		<input class="form-check-input" value="remember-me" type="checkbox">
		<label class="text-bg-dark form-check-label">I agree to sell my soul</label>
	</div>

	<button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
	<hr class="my-4">
</form>
