// Add variable overrides after this lin

$body-bg: #212529;
$body-color: #ffffff;

$theme-colors: (
        "primary": #0E47A1,
        "dark": #444444,
        "danger": #CF6679,
        "success": #198754,
        "info": #0dcaf0,
        "warning": #ffc107,
        "light": #FFFFFF,
);
@import "../node_modules/bootstrap/scss/bootstrap";

// Everything else goes here