html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.text-center {
  text-align: center;
}

.center-in-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}


.blue-snackbar {
  background: #2196F3;
}

.flex-center {
  display: flex;
  justify-content: center;
}
.mat-mdc-snack-bar-container {
  // Using custom colors: https://stackoverflow.com/a/74704599/18902234
  &.default {
    white-space: pre-wrap; // force new line: https://stackoverflow.com/a/61404124/18902234
  }

  &.error-snackbar {
    --mat-mdc-snack-bar-button-color: #f8dada;
    --mdc-snackbar-container-color: #cf080b;
    --mdc-snackbar-supporting-text-color: #f7f7f7;
  }

  //--mat-mdc-snack-bar-button-color: red;
  //--mdc-snackbar-container-color: black;
  //--mdc-snackbar-supporting-text-color: yellow;
}