.header-text {
  text-align: center;
  margin: auto auto 1.5rem;
}

.nickname-container, .email-container, .password-container, .confirm-password-container, .continue-btn-container {
  margin-top: 1rem;
}