<ng-container *ngIf="invalidRequest">
	<h2 class="text-center text-danger mt-3">Invalid Request, try again</h2>
</ng-container>
<div class="container-fluid center-in-screen">
	<div>
		<h2 class="fs-1 text-center mt-2 ">Registration</h2>
		<form [formGroup]="registerForm" (ngSubmit)="formSubmitted()" class="row g-3" method="post" novalidate>
			<!--Start Nickname-->
			<div class="col-md-12">
				<label for="nickname" class="form-label">Nickname</label>
				<input formControlName="nickname" type="text" class="form-control" id="nickname">
				<ng-container *ngIf="nickname?.errors && (nickname?.dirty || nickname?.touched)">
					<span class="text-danger" *ngIf="nickname?.errors?.['required']">Nickname is required</span>
				</ng-container>
			</div>
			<!--End Nickname-->

			<!--Start Email-->
			<div class="col-md-12">
				<label for="email" class="form-label">Email <span class="spinner-border-sm text-white spinner-border"
																  *ngIf="email?.pending"></span></label>
				<input formControlName="email" type="email" class="form-control" id="email">
				<ng-container *ngIf="email?.errors && (email?.dirty || email?.touched)">
					<span class="text-danger" *ngIf="email?.errors?.['required']">Email is required</span>
					<span class="text-danger" *ngIf="email?.errors?.['email']">Enter a valid email</span>
					<span class="text-danger" *ngIf="email?.errors?.['emailInDb']">That email is already registered</span>

				</ng-container>
			</div>
			<!--End Email-->

			<!--Start Password-->
			<div class="col-md-12">
				<label for="password" class="form-label">Password</label>
				<input formControlName="password" type="password" class="form-control" id="password">

				<ng-container *ngIf="password?.errors && (password?.dirty || password?.touched)">
					<span class="text-danger" *ngIf="password?.errors?.['required']">Password is required</span>
					<span class="text-danger" *ngIf="password?.errors?.['minlength']">Keep Typing...</span>
					<span class="text-danger" *ngIf="password?.errors?.['maxlength']">Why's your password that long?</span>
				</ng-container>
			</div>
			<!--End Password-->

			<!--Start Confirm Password-->
			<div class="col-md-12">
				<label for="confirmPassword" class="form-label">Confirm Password</label>
				<input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword">
				<ng-container *ngIf="registerForm?.errors && (confirmPassword?.dirty || confirmPassword?.touched)">
					<span class="text-danger" *ngIf="registerForm?.hasError('passwordsNotMatching')">Passwords must match</span>
				</ng-container>
			</div>
			<!--End Confirm Password-->

			<!--Start Accept terms-->
			<div class="col-md-12">
				<div class="form-check">
					<input formControlName="acceptedTerms" class="form-check-input bg-dark" type="checkbox" value="" id="acceptedTerms">
					<label class="form-check-label" for="acceptedTerms">
						I agree to the terms and conditions that doesn't exist
					</label>
				</div>
				<ng-container *ngIf="acceptedTerms?.errors && (acceptedTerms?.dirty || acceptedTerms?.touched)">
					<span class="text-danger" *ngIf="acceptedTerms?.errors?.['required']">Gotta accept :(</span>
				</ng-container>
			</div>
			<!--End Accept terms-->

			<!--Submit button-->
			<div class="col-12 text-center">
				<button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary btn-lg">Continue</button>
			</div>
		</form>
	</div>
</div>

<router-outlet></router-outlet>