<div class="center-in-screen">
	<div style="width: 75%">
		<h1 class="mat-headline-4 header-text">Create an account</h1>
		<form [formGroup]="registerForm" (ngSubmit)="formSubmitted()" method="post">
			<!--Start Nickname-->
			<div class="nickname-container">
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Nickname</mat-label>
					<input matInput placeholder="Ex. Peter pan" formControlName="nickname" type="text" required>
					<mat-error *ngIf="nickname?.errors?.['required']">Nickname is required</mat-error>
				</mat-form-field>
			</div>
			<!--End Nickname-->

			<!--Start Email-->
			<div class="email-container">
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Email</mat-label>
					<input type="email" matInput placeholder="john@example.com" formControlName="email" required>
					<mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
					<mat-error *ngIf="email?.errors?.['email']">Enter a valid email</mat-error>
					<mat-error *ngIf="email?.errors?.['emailInDb']">That email is already registered</mat-error>
				</mat-form-field>
			</div>
			<!--End Email-->

			<!--Start Password-->
			<div class="password-container">
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Password</mat-label>
					<input matInput [type]="hidePass ? 'password' : 'text'" [formControlName]="'password'">
					<button type="button" mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hidePass">
						<mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
					<mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
					<mat-error *ngIf="password?.errors?.['minlength']">Keep Typing...</mat-error>
					<mat-error *ngIf="password?.errors?.['maxlength']">Why's your password that long?</mat-error>
				</mat-form-field>
			</div>
			<!--End Password-->

			<!--Start Confirm Password-->
			<div class="confirm-password-container">
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Confirm Password</mat-label>
					<input matInput [type]="hideConfirmPass ? 'password' : 'text'" formControlName="confirmPassword">
					<button type="button" mat-icon-button matSuffix (click)="hideConfirmPass = !hideConfirmPass"
							[attr.aria-label]="'Hide confirm password'"
							[attr.aria-pressed]="hideConfirmPass">
						<mat-icon>{{hideConfirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
					<mat-error *ngIf="registerForm?.hasError('passwordsNotMatching')">Passwords must match</mat-error>
				</mat-form-field>
			</div>
			<!--End Confirm Password-->

			<!--Submit button-->
			<div class="continue-btn-container text-center">
				<button type="submit" mat-raised-button color="primary">Continue</button>
			</div>
		</form>
	</div>
</div>

<router-outlet></router-outlet>