<div class="container-fluid center-in-screen">
	<div class="w-100 text-center">
		<!--Start messages-->
		<ngb-alert *ngIf="invalidRequest" type="primary" [dismissible]="false" class="text-center mb-4">
			{{INVALID_REQUEST_MESSAGE}}
		</ngb-alert>

		<h2 class="text-center">Receive regular reminders about upcoming deadlines and still miss it because you where being lazy</h2>

		<div class="row gy-3 gx-md-5 mt-md-3 text-center">
			<div class="col-12 col-md-6 text-xxl-end">
				<button routerLink="login" class="bg-primary text-light btn btn-lg">Log in</button>
			</div>
			<div class="col-12 col-md-6 text-xxl-start">
				<button routerLink="register" class="bg-primary text-light  btn btn-lg">Create An Account</button>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>