<div class="center-in-screen">
	<div>
		<h1 class="mat-headline-4 header-text">Verify your account</h1>
		<h2 class=" header-text">A verification code has been sent to your email</h2>

		<form [formGroup]="verifyForm" (ngSubmit)="formSubmitted()" method="post" novalidate>
			<!--Start your email-->
			<div class="email-container">
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Your Email</mat-label>
					<input type="email" matInput readonly placeholder="john@example.com" formControlName="userEmail" required>
				</mat-form-field>
			</div>
			<!--End your email-->

			<!--Start code-->
			<div class="code-container">
				<mat-form-field class="width-100" hideRequiredMarker=true appearance="fill">
					<mat-label>Verification Code</mat-label>
					<input type="text" matInput placeholder="john@example.com" formControlName="code" required>
					<mat-error *ngIf="code?.errors?.['required']">Code is required</mat-error>
					<mat-error *ngIf="code?.errors?.['minlength'] || code?.errors?.['maxlength']">Invalid Code</mat-error>
					<mat-error *ngIf="code?.errors?.['incorrect']">Incorrect Code</mat-error>
					<mat-error *ngIf="code?.errors?.['expired']">That code has expired hehe</mat-error>
				</mat-form-field>
			</div>
			<!--End code-->

			<!--Submit button-->
			<div class="continue-btn-container text-center">
				<button type="submit" mat-raised-button color="primary">Continue</button>
			</div>
		</form>
		<div class="resend-container text-center" style="margin-top: 0.5rem">
			Didn't get the code/code has expired?
			<a mat-button color="accent" class="link" (click)="resendButtonClicked()">Resend it</a>
		</div>
	</div>
</div>