<div class="container-fluid center-in-screen">
	<div>

		<!--Start messages-->
		<ngb-alert *ngIf="disabledAccount" type="primary" [dismissible]="false" class="text-center mb-4">
			{{DISABLED_ACCOUNT_MESSAGE}}
		</ngb-alert>
		<!--End messages-->

		<h2 class="fs-1 text-center mb-4 ">Verify your account</h2>
		<h4 class="fs-6 text-center mb-4">A verification code has been sent to your email</h4>

		<form [formGroup]="verifyForm" (ngSubmit)="formSubmitted()" class="row g-3" method="post" novalidate>
			<div class="col-md-12">
				<label for="userEmail" class="form-label">Your email</label>
				<input formControlName="userEmail" readonly type="email" class="form-control" id="userEmail">
			</div>

			<div class="col-md-12">
				<label for="code" class="form-label">Verification Code</label>
				<input formControlName="code" type="email" class="form-control" id="code">

				<ng-container *ngIf="code?.errors && (code?.dirty || code?.touched)">
					<span class="text-danger" *ngIf="code?.errors?.['required']">Code is required</span>
					<span class="text-danger" *ngIf="code?.errors?.['minlength'] || code?.errors?.['maxlength']">Invalid Code</span>
					<span class="text-danger" *ngIf="code?.errors?.['incorrect']">Incorrect Code</span>
					<span class="text-danger" *ngIf="code?.errors?.['expired']">That code has expired hehe</span>
				</ng-container>

			</div>

			<div class="col-12 text-center">
				<button [disabled]="verifyForm.invalid" type="submit" class="btn btn-primary btn-lg">Continue</button>
			</div>
		</form>
		<div class="mt-4 w-100 text-center">
			Didn't get the code/code has expired? <a class="link-info" style="cursor: pointer" (click)="resendButtonClicked()">Resend it</a>
		</div>
	</div>
</div>