.title-container, .due-date-container, .due-time-container, .options-container, .other-people-container {
  margin-top: 0.7rem;
}

.dialog-actions {
  justify-content: center;
  margin-bottom: 0.8rem;
}

.remind-text {
  text-align: center;
  margin: auto auto 0.4rem;
  color: #e0e0e0
}