<h1 class="text-center" mat-dialog-title>Add New Deadline</h1>
<div mat-dialog-content>
	<form [formGroup]="formData" method="post">
		<div class="title-container">
			<mat-form-field hideRequiredMarker=true class="width-100" appearance="fill">
				<mat-label>Title</mat-label>
				<input formControlName="title" matInput #input maxlength="25" placeholder="Ex. Research essay">
				<mat-hint align="end">{{input.value.length}}/25</mat-hint>
				<mat-error *ngIf="title?.hasError('maxlength')">You're being naughty</mat-error>
				<mat-error *ngIf="title?.hasError('minlength')">Keep typing...</mat-error>
				<mat-error *ngIf="title?.hasError('required')">Title is required</mat-error>
			</mat-form-field>
		</div>

		<div class="due-date-container">
			<mat-form-field hideRequiredMarker=true appearance="fill" class="width-100">
				<mat-label>Due Date</mat-label>
				<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp" formControlName="dueDate">
				<mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
				<mat-datepicker #dp color="accent" disabled="false"></mat-datepicker>
				<mat-error *ngIf="dueDate?.hasError('required')">Valid date is required</mat-error>
			</mat-form-field>
		</div>

		<div class="due-time-container">
			<mat-form-field hideRequiredMarker=true appearance="fill" class="width-100">
				<mat-label>Due Time</mat-label>
				<mat-select formControlName="dueTime">
					<mat-option>--</mat-option>
					<mat-option *ngFor="let time of times | async" [value]="time.name">{{time.name}}</mat-option>
				</mat-select>
				<mat-error *ngIf="dueTime?.hasError('required')">Time is required</mat-error>
			</mat-form-field>
		</div>

		<div class="options-container">
			<h3 class="remind-text">How early do you want to be reminded?</h3>
			<mat-error class="text-center" *ngIf="options?.hasError('optionsNotSelected')">Make a selection</mat-error>
			<mat-chip-listbox formControlName="options" multiple aria-label="Time selection">
				<mat-chip-option *ngFor="let option of timeOptions" [selected]="option.isChecked">{{option.name}}</mat-chip-option>
			</mat-chip-listbox>
		</div>

		<div class="other-people-container text-center">
			<mat-checkbox formControlName="otherPeopleSee" color="primary">Let other people see this deadline</mat-checkbox>
		</div>
	</form>
</div>
<div mat-dialog-actions class="dialog-actions">
	<button mat-button (click)="cancelClicked()">Cancel</button>
	<button mat-raised-button color="accent" (click)="saveClicked()">Save</button>
</div>